<h1>
  Hello <%= @name %>. You don't know me, but I know you. I want to play a game. Here's what happens if you lose.
</h1>
<body>
<img src="http://cdn.movieweb.com/img.news.tops/NE47Oq3Y9D9j75_3_b.jpg" alt="">
</body>
